body, html{
    margin:0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color: #333;
}

body {
    background-color: #000;
    background-image: url("../img/bissee.jpg");
    background-attachment: fixed, fixed;
    background-position: center, center;
    background-size: auto, cover;
}

.bottomGradient {
    opacity: 1;
    bottom: 0;
    height: 30%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 30%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.screen-fade {
    /* height: 5%;
    position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(14,103,167,0) 100%);
    /* background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(14,103,167,1)), color-stop(100%, rgba(14,103,167,0))); */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 20%, rgba(14,103,167,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 20%, rgba(14,103,167,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 20%, rgba(14,103,167,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 20%, rgba(14,103,167,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e67a7', endColorstr='#0e67a7', GradientType=0 );
    z-index: 9999;
}

#hanassa {
    right: 50px;
    top: 60px;
    width: 250px;
    bottom: 550px;
    background: rgba(255,255,255,0.15);
    position: absolute;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    overflow: hidden;
    min-height: 330px;
}

#hanassa h2 {
    font-size: 47px;
    margin-top: 5px;
    margin-bottom: 30px;
}

#hanassa h3 {
    font-size: 24px;
    margin-top: 5px;
    font-weight: 600;
    margin-bottom: 0px;
}

.olunen {
    font-size: 18px !important;
    font-weight: 600 !important;
}

#hanassa p {
    font-size: 14px;
    font-weight: 200;
}

#hanassa hr {
    margin: 30px 0px;
    opacity: 0.2;
}

.vasen {
     text-align: left;
}

.oikea {
     text-align: right;
}

.puhepalikka {
    position: absolute;
    bottom: 80px;
    left: 3%;
    animation: kasvu 2s 0s 1 ease;
    animation-fill-mode: forwards;
    -webkit-animation: kasvu 2s 0s 1 ease;
    -webkit-animation-fill-mode: forwards;
}

input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.mikki {
    float: left;
    margin-left: -5px;
    margin-right: 15px;
    margin-top: 12px !important;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.mikki-off {
    background: #0E67A7;
}

.mikki-rec {
    background: red;
}

.mikki i {
    font-size: 32px;
    margin-left: 4px;
    margin-top: 5px;
    color: #fff;
    transition: 0.2s;
}

.mikki i:hover {
    transition: 0.2s;
    font-size: 36px;
    margin-left: 3px;
    margin-top: 3px;
}

.puhetekstialue {
    background: none;
    min-width: 420px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
}

.send-btn {
    float: right;
    width: 100px;
    text-align: center;
    height: 36px;
    background: #0E67A7;
    padding: 15px 5px 0px 5px;
    border-radius: 5px;
    /* border: 1px solid #555; */
    margin-left: 5px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-top: 7px;
    transition: 0.2s;
}

.send-btn:hover {
    background: #00affb;
    transition: 0.2s;
    font-size: 28px;
}

.picture-btn {
    text-align: center;
    height: 26px;
    /* background: #0E67A7 !important; */
    /* padding: 2px 5px 6px 5px; */
    border-radius: 5px;
    /* border: 1px solid #555; */
    /* margin-left: 22px; */
    color: #0E67A7 !important;
    cursor: pointer;
    float: right;
    padding-left: 25px;
    transition: 0.2s;
}

.picture-btn:hover {
    transition: 0.2s;
    font-size: 1.1em;
    color: #00affb !important;
}

/* Max-width 961 px */
@media (max-width : 960px) {
    /* Styles */

    body {

    }

    #hanassa {
        display: none;
    }

    .tuoppi-wrapper {
        display: none;
    }

    .puhepalikka {
        position: absolute;
        bottom: 20px;
        left: 3%;
        right: 3%;
    }

    .bubble.left {
        margin-right: 80px;
        margin-left: 105px;
    }

    .bubble.right {
        margin-left: 140px;
        /* right: 200px; */
        text-align: right;
        /* float: right; */
        margin-right: 3%;
        font-weight: 600;
    }

    .puhetekstialue {
        background: none;
        min-width: 0px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 24px;
        width: 66%;
    }

    #bubbles {
        bottom: 90px;
        position: absolute;
        width: 100%;
    }

    .send-btn {
        float: right;
        width: 80px;
        text-align: center;
        height: 32px;
        background: #0E67A7;
        padding: 15px 5px 3px 5px;
        border-radius: 5px;
        /* border: 1px solid #555; */
        margin-left: 5px;
        color: #fff;
        cursor: pointer;
    }

.picture-btn {
    display: none;
}

    #background-wrap {
        display: none;
    }

    #video_elements {
        display: none;
    }
}

