body, html{
    margin:0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color: #333;
}

body {
    background: #0E67A7;
}

.screen-fade {
    height: 5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(14,103,167,1) 0%, rgba(14,103,167,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(14,103,167,1)), color-stop(100%, rgba(14,103,167,0)));
    background: -webkit-linear-gradient(top, rgba(14,103,167,1) 20%, rgba(14,103,167,0) 100%);
    background: -o-linear-gradient(top, rgba(14,103,167,1) 20%, rgba(14,103,167,0) 100%);
    background: -ms-linear-gradient(top, rgba(14,103,167,1) 20%, rgba(14,103,167,0) 100%);
    background: linear-gradient(to bottom, rgba(14,103,167,1) 20%, rgba(14,103,167,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e67a7', endColorstr='#0e67a7', GradientType=0 );
    z-index: 9999;
}

.puhepalikka {
    position: absolute;
    bottom: 10%;
    left: 3%;
}

.mikki {
    float: left;
    /* padding: 10px; */
    margin-left: -5px;
    margin-right: 10px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-top: -3px;
    cursor: pointer;
}

.mikki-off {
    background: #0E67A7;
}

.mikki-rec {
    background: red;
}

.mikki i {
    font-size: 32px;
    margin-left: 4px;
    margin-top: 4px;
    color: #fff;
}

.puhetekstialue {
    background: none;
    min-width: 420px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
}

.send-btn {
    float: right;
    width: 80px;
    text-align: center;
    height: 22px;
    background: #0E67A7;
    padding: 6px 5px 3px 5px;
    border-radius: 5px;
    /* border: 1px solid #555; */
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
}

/* Max-width 961 px */
@media (max-width : 960px) {
    /* Styles */

    body {

    }

    .tuoppi-wrapper {
        display: none;
    }

    .puhepalikka {
        position: absolute;
        bottom: 4%;
        left: 3%;
        right: 3%;
    }

    .bubble.left {
        margin-right: 80px;
        margin-left: 105px;
    }

    .bubble.right {
        margin-left: 140px;
        /* right: 200px; */
        text-align: right;
        /* float: right; */
        margin-right: 3%;
        font-weight: 600;
    }

    .puhetekstialue {
        background: none;
        min-width: 0px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 24px;
        width: 66%;
    }

    #bubbles {
        bottom: 90px;
        position: absolute;
        width: 100%;
    }

    .send-btn {
        float: right;
        width: 40px;
        text-align: center;
        height: 22px;
        background: #0E67A7;
        padding: 6px 5px 3px 5px;
        border-radius: 5px;
        /* border: 1px solid #555; */
        margin-left: 5px;
        color: #fff;
        cursor: pointer;
    }
    
    background-wrap {
        display: none;
    }
}

